:root{
    --branco_principal: #FFFFFF;
    --cinza_secundario: #C0C0C0;
    --azul_botao: #167BF7;
    --cor_de_fundo: #00030C;
    --fonte_principal: 'Inter';
}

body{
    background-color: var(--cor_de_fundo);
    color: var(--branco_principal);
    font-family: var(--fonte_principal);
    font-size: 16px;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container_primario{
    background-image: url("../assets/img/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container_caixa_principal{
    margin: 0 6em;
}

.container_titulo_principal{
    font-size: 28px;
    font-weight: 700;
}

.container_imagem_principal{
    margin: 1em 0 2em 0;
}

.container_botao{
    background-color: var(--azul_botao);
    color: var(--branco_principal);
    padding: 1em;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.container_botao_secundario{
    background-color: transparent;
    border: 1px solid var(--branco_principal);
}

.container_aviso{
    color: var(--cinza_secundario);
    font-size: 12px;
}

.container_secundario, .container_terciario{
    align-items: center;
    margin: 0 10em;
}

.container_caixa_plataformas, .container_caixa_telas{
    padding: 2em;
}

.container_imagem_plataformas, .container_imagem_telas{
    width: 80%;
    margin: 0 auto;
}

.container_titulo_plataformas{
    font-size: 48px;
    font-weight: 700;
    color: var(--branco_principal);
}

.container_paragrafo_plataformas, .container_paragrafo_telas{
    font-size: 16px;
    color: var(--cinza_secundario);
    margin: 0.5em 0;
    line-height: 1.5em;
}

.container_botao_terciario{
    display: inline-block;
    margin: 1em 0 0 0;
}